* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f0f2f5;
}

.imagefb {
  width: 55%;
}
.centering {
  width: 69%;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 112px;
  padding-top: 72px;
}
h2 {
  font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
  font-size: 28px;
  font-weight: normal;
  margin-left: 25px;
}
.imglogo {
  width: 50%;
  padding-top: 110px;
  float: left;
}
.entrybox {
  width: 50%;
  float: left;
  padding-left: 100px;
}
.empass {
  width: 90%;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 20px;
  padding-left: 10px;
  border-radius: 10px;
  /* margin-right: 15px; */
  margin-left: 15px;
  font-size: 20px;
}
.inputstyle {
  border: 1px solid #dddfe2;
}
.shadowbox {
  border-radius: 10px;
  width: 90%;
  margin-top: 60px;
  padding-top: 10px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
}
.loginstyle {
  background-color: #1877f2;
  border-radius: 6px;
  font-size: 20px;
  font-family: Helvetica, Arial, sans-serif;
  border: none;
  font-weight: bold;
  color: #ffffff;
  cursor: pointer;
}
.accbutton {
  padding-bottom: 15px;
  padding-top: 15px;
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
  font-weight: bolder;
  font-style: Helvetica, Arial, sans-serif;
  background-color: #42b72a;
  border: none;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 6px;
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
}
hr {
  width: 95%;
  margin-bottom: 20px;
  margin-left: 10px;
}
.forgot {
  /* margin-left: 104px; */
  color: #1877f2;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 10px;
}
a {
  cursor: pointer;
  text-decoration: none;
}
@media (max-width: 1360px) {
  .empass {
    font-size: 15px;
  }
}
@media (max-width: 1110px) {
  .empass {
    font-size: 10px;
  }
  h2 {
    font-size: 20px;
  }
}
@media (max-width: 1050px) {
  .imglogo {
    float: none;
    width: 100%;
  }
  .entrybox {
    float: none;
    width: 100%;
  }
  h2 {
    font-size: 28px;
  }
  .empass {
    font-size: 20px;
  }
  .imagefb {
    width: 55%;
    margin-right: auto;
    margin-left: auto;
  }
  h2 {
    text-align: center;
  }
}
@media (max-width: 690px) {
  .centering {
    width: 95%;
  }
}
.accdiv {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.forgpass {
  width: 38%;
  margin-right: auto;
  margin-left: auto;
}
.text{
  margin-top: 30px;
  padding-left:80px ;
}